* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh)
}

@font-face {
    font-family: raleway f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body {
    background-image: url("../img/fon.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: raleway_f, sans-serif;
    line-height: 1.55
}

/*панель навигации:*/

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    background: transparent;
    background-color: #000000;
    border: 2px solid #7b7b7b;
    box-shadow: 0 20px 10px rgba(168, 168, 168, 0.1);
    border-radius: 10px;
}

.navbar-menu {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 50px;
    padding: 20px 0;
    padding-top: 26px;
}

.navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    /* Все буквы заглавные (стиль космодрома) */
    margin-bottom: 25px;
    font-size: 16px;
    padding-top: 20px;
    /* Настройте это число под себя */
    padding-bottom: 20px;
}

.navbar-menu a:hover {
    color: #ccc;
}

/*обработка логотипа: */ 

.logo {
    position: absolute;
    left: 20;
    top: 5%;
    z-index: 10;
}

.logo img {
    height: 70px; 
    width: auto;
    display: block;
}

 /*надписи и фон:*/

.main-header {
    position: relative;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
}

.layers__base {
    z-index: 0;
}

.layers__front {
    top: 200px;
    height: 400px;
    width: 400px;

    transform: translate3d(0, calc(var(--scrollTop) / -1), 0);
}

.layer__header {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
}

.layers__caption {
    position: absolute;
    top: -90px;
    left: -200px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    font-size: calc(var(--index) / 0.5);
    letter-spacing: calc(var(--index) / 2.5);
    margin-top: calc(var(--index) * -0.75);
}